{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="post">
    <div class="post-header">
      <div class="post-author">
        <a href="{% url 'profile:detail' slug=post.user.username %}">
          {% if post.user.profile.profile_picture %}
            <img src="{{ post.user.profile.profile_picture.url }}" alt="Profile Picture">
          {% else %}
            {% if post.user.profile.gender == 'F' %}
              <img src="{% static 'images/avatar-female.png' %}" alt="Default Profile Picture">
            {% else %}
              <img src="{% static 'images/avatar-male.png' %}" alt="Default Profile Picture">
            {% endif %}
          {% endif %}
          <p>{{ post.user.username }}</p>
        </a>
      </div>
      <div class="post-actions">
        <a href="#" class="action-icon"><i class="far fa-heart"></i></a>
        <a href="#" class="action-icon"><i class="far fa-comment"></i></a>
      </div>
    </div>
    <div class="post-body">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      {% if post.image %}
        <div class="post-image">
          <img src="{{ post.image.url }}" alt="Post Image">
        </div>
      {% endif %}
    </div>
    <div class="post-footer">
      <div class="post-info">
        <p class="likes"><i class="far fa-heart"></i> {{ post.likers.count }} likes</p>
        <p class="comments"><i class="far fa-comment"></i> {{ post.comments.count }} comments</p>
      </div>
    </div>
    <div class="comments">
      <div class="comment-list">
        <div class="comment-section">
            <h2>Add a Comment</h2>
            <form action="{% url 'feed:create_comment' post.id %}" method="POST" class="comment-form">
              {% csrf_token %}
              <div class="form-row">
                <textarea name="content" placeholder="Write your comment..." required></textarea>
              </div>
              <div class="form-row">
                <button type="submit" class="btn btn-comment">Post Comment</button>
              </div>
            </form>
          </div>
        {% for comment in post.comments.all %}
          <div class="comment">
            <div class="comment-author">
              <a href="{% url 'profile:detail' slug=comment.user.username %}">
                {% if comment.user.profile.profile_picture %}
                  <img src="{{ comment.user.profile.profile_picture.url }}" alt="Profile Picture">
                {% else %}
                  {% if comment.user.profile.gender == 'F' %}
                    <img src="{% static 'images/avatar-female.png' %}" alt="Default Profile Picture">
                  {% else %}
                    <img src="{% static 'images/avatar-male.png' %}" alt="Default Profile Picture">
                  {% endif %}
                {% endif %}
                <p>{{ comment.user.username }}</p>
              </a>
            </div>
            <div class="comment-content">
              <p>{{ comment.content }}</p>
            </div>
          </div>
        {% empty %}
          <p>No comments yet.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}
