{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Your Space</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'feed:home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
            <h1 class="site-title">Your Space</h1>
        </div>
        <div class="user-info">
            {% if user.is_authenticated %}
                <div class="profile-picture">
                    <a href="{% url 'profile:detail' slug=user.username %}">
                        {% if user.profile.profile_picture %}
                            <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture">
                        {% else %}
                            {% if user.profile.gender == 'F' %}
                                <img src="{% static 'images/avatar-female.png' %}" alt="Default Profile Picture">
                            {% else %}
                                <img src="{% static 'images/avatar-male.png' %}" alt="Default Profile Picture">
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
                <div class="user-actions">
                    <a href="{% url 'profile:detail' slug=user.username %}" class="username">{{ user.username }}</a>
                    <a href="{% url 'profile:logout' %}" class="btn btn-sign-out">Sign Out</a>
                </div>
            {% else %}
                <div class="user-actions">
                    <a href="{% url 'profile:login' %}" class="btn btn-login">Login</a>
                    <a href="{% url 'profile:register' %}" class="btn btn-register">Register</a>
                </div>
            {% endif %}
        </div>
    </header>
    
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>
